* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
}

.mini-title {
    text-align: center; 
    color: orange;
    margin-top: 20px;
}

.btn-link {
    color: white;   
}

.btn-link:hover {
    color: white;
}

.card-header {
    background-color: #ff9000;
}